<p id="notice"><%= notice %></p>



<% if @recipe.image? %>
<%= image_tag @recipe.image.url, class: "recipe-show" %>
<% end %>

<h1>
  <%= @recipe.title %>
</h1>

<h3>
  <%= @recipe.description %>
</h3>

<div class="showingredients">
<h2>Ingredients</h2>
<ul>
<% for @ingredient in @recipe.ingredients %>
<li><%= @ingredient.content %></li>
<% end %>
</ul>
</div>

<div class="showsteps">
<h2>Steps</h2>
<ol>
<% for @step in @recipe.steps %>
<li><%= @step.direction %></li>
<% end %>
</ol>
</div>

<div class="link">
	<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>

</div>